@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-10">
            <img class="img-fluid rounded mx-auto d-block" id="hero-picture" src="~/images/profile.png" alt="profile-bitmoji">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-10">
            <div class="mb-5 section bg-light bg-opacity-50 p-3 rounded shadow-sm">
                <h2 class="mb-4">About Kevin Rocha</h2>
                <p>
                    Kevin loves science and technology, he enjoys solving problems related to computing and mathematics.
                    Most of all he is a passionate software engineer who enjoys problem solving challenging  and turning ideas into reality.
                </p>

                <p>
                    As an engineer, his goal is to help others solve problems in order to enhance people's lives through technology.
                    Kevin has used technologies such as Node.js, and .NET to write efficient, reliable, and maintainable software solutions.
                    He seeks to join a talented group of people and work on challenging problems as a team to deliver the best solutions possible.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-5">
            <div class="mb-5 section bg-light bg-opacity-50 p-3 rounded shadow-sm">
                <h2 class="mb-4">Want to Know More?</h2>
                <p>Please email Kevin for any questions. <a id="customLink" class="text-break" href="" target="_blank"></a></p>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-5 section bg-light bg-opacity-50 p-3 rounded shadow-sm">
                <h2 class="mb-4">Contact Kevin</h2>
                <p>Email: <a id="customLink" class="text-break" href=""></a></p>
                <p>Mobile: 555-555-5555</p>
            </div>
        </div>
    </div>
</div>


