@page
@model ForgotPasswordConfirmation

@using RochaBlogs.Services.Interfaces
@using Microsoft.Extensions.Configuration
@inject IImageService _imageService
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["MainText"] = "Check your email";
    ViewData["SubText"] = "Almost there";

    var defaultImage = await _imageService.EncodeImageAsync(_configuration["DefaultHomePageImage"]);
    var defaultContentType = _configuration["DefaultHomePageImage"].Split('.')[1];
    ViewData["HeaderImage"] = _imageService.DecodeImage(defaultImage, defaultContentType);
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
